.single {
    display: flex;
    width: 100%;
    .singleContainer {
      flex: 6;
  
      .top {
        padding: 20px;
        display: flex;
        gap: 20px;
  
        .left {
          flex: 1;
          margin: 20px;
        }
  
        .right {
          flex: 2;
          margin: 20px;
        }
      }
  
      .bottom{
        display: flex;
        align-items: center;
        margin-left: 300px;
        justify-content: space-around;
  
        .downloadOption, .gotoOption{
            height: 40px;
            font-weight: bold;
            font-size: 12px;
        }
        .stage2Option{
            width: 200px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;
            font-size: 12px;
        }
    }
    }
  }